<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
    <title>DreamCatcher</title>


</head>

<body>

    <nav>
        <section class="nav-container">
            <div class="menu">
                <div class="menuContent">
                    <a href="login.html">Login</a> |
                    <a href="signup.html">Sign Up</a>
                    

                </div>
            </div>


        </section>
    </nav>

    <div class="logo">
        DreamCatcher!
    </div>

    <div class="infoBox">
        <div class="interiorInfo">
            LkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdks
            ahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdks
            ahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdks
            ahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdks
            ahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdks
            ahfksdlhfdklhfkdsahkdshfkLkjlahkjhdaskhfdsakhdskahfdksahfksdlhfdklhfkdsahkdshfk
        </div>
    </div>

</body>

<script src="assets/javascript/app.js">

</script>

</html>