<% include partials/header %>

<h1><%=dream.dream%></h1>

<img src="<%= dream.image %>">

<p><%= dream.actionplan %></p>


<p>
    
     <a href="/dreams" class="btn btn-primary">Go Back to Vision Board</a>

    
</p>

<% include partials/footer %>
