<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../client/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
    <title>Profile</title>


</head>

<body>

    <div id="userImg">

            <img class="roundedImg" src="../client/css/img/author_generic.jpg" alt="Avatar">

    </div>


    <div class="quoteBox">
        <div class="interiorPersonalQuote">
            Enter User Quote Here!
            <br>
            <h1><a href="visionBoardOverview.html">Go To Vision Boards</a></h1>
        </div>
    </div>

</body>

<script src="assets/javascript/app.js">

</script>

</html>