html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: url('../images/backdrop.png') no-repeat center center fixed;
    margin: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/*This Box should show up in the middle of the screen */
.logo {
    font-family: 'Spirax', cursive;
    font-size: 150px;
    padding-top: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 70%;
    margin: auto;
    border-radius: 25px;
    align-content: center;
    text-align: center;
    display: block;
    padding: 15px;
    word-wrap: break-word;
    color: blue;
}

/*This Box should show up in the bottom of the screen */
.infoBox {
    
    position: absolute;
    background-color: rgba(66, 116, 244, 0.5);
    top: 75%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    margin: auto;
    border-radius: 25px;
    font-size: 20px;
    align-content: center;
    text-align: center;
    display: block;
    padding: 15px;
    word-wrap: break-word;
    color: blue;
}
