html{
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 30px;
}

body {
    background: url('../images/backdrop.png') no-repeat center center fixed;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Amatic SC', cursive;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #D9A0FE;
    align-content: center;
    text-align: center;
}

nav {
    width: 100%;
    height: 65px;
    position: relative;
}

.nav-container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.menu {
    height: 65px;
    align-content: right;
    text-align: right;
    float: right;
    font-size: 25px;
}

.menuContent {
    background-color: rgba(60, 20, 134, 0.75);
    border-radius: 25px;
    padding: 10px;
}

a {
    color: #D9A0FE;
}

/*This Box should show up in the middle of the screen */
.logo {
    font-size: 180px;
    position: absolute;
    margin: auto;
    border-radius: 25px;
    align-content: center;
    text-align: center;
    display: block;
    word-wrap: break-word;
    color: #D9A0FE;
    -webkit-text-stroke: 1px #7C12C1;
    top: 32%;
    left: 50%;
    transform: translateX(-50%) translateY(-32%);
}

/*This Box should show up in the bottom of the screen */
.infoBox {
    position: absolute;
    background-color: rgba(60, 20, 134, 0.75);
    top: 75%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border-radius: 25px;
    font-size: 20px;
    display: block;
    padding: 15px;
    word-wrap: break-word;
    overflow: scroll;
}

#userImg {
    position:relative;
    height: 100%;
    width:100%;
}

.roundedImg {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:15%;
    margin:auto;
    width: 30%;
    border-radius: 50%;
}

.quoteBox {
    position: absolute;
    background-color: rgba(60, 20, 134, 0.75);
    top: 85%;
    left: 10%;
    right: 5%;
    bottom: 5%;
    border-radius: 25px;
    font-size: 20px;
    display: block;
    padding: 15px;
    word-wrap: break-word;
    overflow: scroll;
}

.signupContainer {
    background-color: rgba(60, 20, 134, 0.75);
    position: absolute;
    top: 5%;
    left: 25%;
    right: 25%;
    bottom: 5%;
    margin: auto;
    border-radius: 25px;
    font-size: 20px;
    display: block;
}

.signupContent {
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    
}

.innerSignupContent {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    overflow: scroll;
    border: 1px solid #D9A0FE;
    border-radius: 25px;
}