html{
    width: 100%;
    height: 100%;
    margin: 0;
}

h1, h4, ul {
    font-size: 30px;
    background-color: rgba(60, 20, 134, 0.65);
    border-radius:25px;
    color: rgb(189, 169, 245);
}

body {
    background: url('/assets/backdrop.png') no-repeat center center fixed;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Merienda', cursive;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: rgb(189, 169, 245);
    font-size: 25px;
    align-content: center;
    text-align: center;
}

nav {
    width: 100%;
    height: 65px;
    position: relative;
}

.nav-container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.menu {
    height: 65px;
    align-content: right;
    text-align: right;
    float: right;
    font-size: 25px;
}

.visionHeader {
    background-color: rgba(60, 20, 134, 0.65);
    border-radius: 25px;
    padding: 10px;
    font-size: 25px;
    
}

.visionBoardSidebar {
    margin-top: 2%;
    width: 24%;
    float: right;
    margin-right: 5%;
    background-color: rgba(60, 20, 134, 0.65);
    border-radius: 25px;
    padding: 10px;
    height: 90%;
}

.boardContainer {
    background-color: rgba(60, 20, 134, 0.65);
    border-radius: 25px;
    margin-top: 2%;
    height: 240px;
    overflow: scroll;
}

#leftContainer {
    margin-top: 2%;
    width: 62%;
    margin-left: 5%;
    float: left;
}

.menuContent {
    background-color: rgba(60, 20, 134, 0.65);
    border-radius: 25px;
    padding: 10px;
}

a {
    color: #D9A0FE;
}

/*This Box should show up in the middle of the screen */
.logo {
    font-size: 150px;
    position: absolute;
    margin: auto;
    border-radius: 25px;
    align-content: center;
    text-align: center;
    display: block;
    word-wrap: break-word;
    color: #D9A0FE;
    -webkit-text-stroke: 2px #7C12C1;
    top: 32%;
    left: 50%;
    transform: translateX(-50%) translateY(-32%);
}

/*This Box should show up in the bottom of the screen */
.infoBox {
    position: absolute;
    background-color: rgba(60, 20, 134, 0.65);
    top: 75%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border-radius: 25px;
    font-size: 30px;
    display: block;
    padding: 15px;
    word-wrap: break-word;
    overflow: scroll;
}

#userImg {
    position:relative;
    height: 100%;
    width:100%;
}

.roundedImg {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:15%;
    margin:auto;
    width: 30%;
    border-radius: 50%;
}

h2, .boardContainer2, .bgInvolved {
    background-color: rgba(60, 20, 134, 0.65);
    padding: 15px;
    border-radius: 25px;
}

.quoteBox {
    position: absolute;
    background-color: rgba(60, 20, 134, 0.65);
    top: 85%;
    left: 10%;
    right: 5%;
    bottom: 5%;
    border-radius: 25px;
    font-size: 30px;
    display: block;
    padding: 15px;
    word-wrap: break-word;
    overflow: scroll;
}

.signupContainer {
    background-color: rgba(60, 20, 134, 0.65);
    position: absolute;
    top: 5%;
    left: 25%;
    right: 25%;
    bottom: 5%;
    margin: auto;
    border-radius: 25px;
    font-size: 20px;
    display: block;
}

.signupContent {
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    
}

.innerSignupContent {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    overflow: scroll;
    border-radius: 25px;
}

div.images {
	width: 200px;
	display: inline-block;
	margin: 20px;
}

div.projectImg {
	text-align: center;
	display: inline-block;
	position: relative;
}

span.banner {
	vertical-align: middle;
	line-height: 50px; 
	text-align: center;
	color: white;
	width: 100%;
	height: 50px;
	background-color: rgba(60, 20, 134, 0.75);
	position: absolute;     
	bottom: 30px;
 }

 #currentGoal {
    border-radius: 25px;
    width: 90%;
    height: 45%;
    margin: 5%;
    margin-bottom: 10%;
    background-color: rgba(164, 121, 245, 0.5);
    font-size: 30px;
 }
 #affirmations {
    border-radius: 25px;
    width: 90%;
    height: 45%;
    margin: 5%;
    background-color: rgba(164, 121, 245, 0.5);
    font-size: 30px;
 }